<html>
<div class = "list">
    <ul>
        <h2>Users</h2>
        <li>
            <%usersList.forEach(user =>{%>
                <li>
                    <p>Firstname: <%=user.firstname%></p>
                    <p>Surname: <%=user.surname%></p>
                    <p>Date of Birth: <%=user.dob%></p>
                    <p>Email: <%=user.email%></p>
                    <p>Username: <%=user.username%></p>
                    <p>Password: <%=user.password%></p>
                </li>
                <hr>
            <%})%>
        </li>
    </ul>


</div>

</html>